/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

nav {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    right: 0;
}

/* logo */

.logo {
    display:flex;
    align-items: center;
}

.logo img {
    width: 8vw;
    height: 8vw;
}
.logo h1 {
    font-size: 2em;
}


/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color: #113e1c;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    padding: 0.5em 1em;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}

.navbar-links a:hover,
.navbar-links a:focus {
    filter: invert(1);
    border-radius: 10px;
    outline: none;
}




/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media (min-width: 60rem) {
    nav {
        width: 100%;
        border-radius: 0;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .navbar-links ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    .navbar-links li {
        padding: 0 1em;
    }
}



.nav__toggle .close {
    display: none;
}

/* Hamburger Icon */
.nav__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}


.nav__checkbox {
    display: none;
}

/* Hide navbar on mobile */
.navbar-links ul {
    display: none;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}



#nav__checkbox:checked ~ .navbar-links ul {
  display: block;
}


#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}


/* media query for non mobile devices */
@media (min-width: 60rem) {

    
    .nav__toggle {
        display: none;
    }

    .navbar-links ul {
        display: flex !important;
        flex-direction: row;
        background: none;
        width: auto;
        padding: 0;
    }

    .navbar-links li {
        padding: 0 1em;
        display: block;
    }
}
