/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

nav {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

/* logo */

.logo {
    display:flex;
    align-items: center;
}

.logo img {
    width: 8vw;
    height: 8vw;
}
.logo h1 {
    font-size: 2em;
}


/* navigation list */

.navbar-links li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a {
    color: #113e1c;
    background-attachment: black;
    font-size: 1em;
    padding: 0.5em 1em;
    letter-spacing: 2px;
    text-decoration: none;
    display: inline-block;
}




/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/