body {
    font-family: "Alfa Slab One";
    background-color: #EDBA61;
    color: #113e1c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: "Alumni Sans Pinstripe";
    font-size: 40pt;
}

/* Hero Section */
header {
    text-align: center;
}

#hero,
footer {
    background-color: #3267a1;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

#hero img {
    width: 300px;
}

/* Bio Section */
#bio {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
}

/* Hobbies Section */
#hobbies {
    background-color: #EDBA61;
    padding: 20px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    text-align: center;
}

#hobbies li {
    padding: 10px 0;
}

/* Gallery */
#gallery {
    border: 2px solid #10a6e1;
}

#gallery img {
    width: 50%;
}

#gallery figure {
    margin: 0;
    padding: 10px;
    text-align: center;
}

/* Literature Section */
#lit {
    border: 2px solid #10a6e1;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
}

#video {
    text-align: center;
    margin-top: 30px;
}
#myVideo {
    
    aspect-ratio: 1/1;   
    border-radius: 10px;
    border: 3px solid #000000;
    display: block;
    margin: 10px auto;     
}



@media screen and (min-width: 60em) {

    #gallery figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #gallery figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
    }
}


@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #gallery h2 {
        grid-column: 1 / -1;
    }

    #gallery hr {
        display: none;
    }

    #gallery figure {
        display: block;
    }

    #gallery img {
        width: 100%;
        height: auto;
        display: block;
    }
}
/* Contact Form */
 #formElements {
    display: grid;
 }
 
 #formElements ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#formElements li {
    list-style-type: none;
}
@media screen and (min-width: 60em) {

    #formElements figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #formElements figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #lit div {
        max-width: 100%;
        columns: 40rem;
    }
}


@media screen and (min-width: 100em) {

    #formElements {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #formElements h2 {
        grid-column: 1 / -1;
    }

    #formElements hr {
        display: none;
    }

    #formElements figure {
        display: block;
    }

    #formElements img {
        width: 100%;
        height: auto;
        display: block;
    }
}